<div class="container mt-5">
  <h3 class="text-center mb-5 title">Hello, Dr. Noori!</h3>
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <app-search-form (searchRequested)="onSearch($event)"></app-search-form>
      <ul class="nav nav-underline mt-3 mb-2" id="patientTabs" role="tablist">
        <li class="nav-item fs-4">
          <a class="nav-link py-1" id="todays-tab" [ngClass]="{'active': activeTab === 'todays'}" data-toggle="tab"
            href="#todays" role="tab" aria-controls="todays" aria-selected="true" (click)="activeTab = 'todays'">
            <i class="fa fa-calendar"></i><span class="ms-3">Today's patients</span></a>
        </li>
        <li class="nav-item fs-4 ms-sm-2">
          <a class="nav-link py-1" id="results-tab" [ngClass]="{'active': activeTab === 'results'}" data-toggle="tab"
            href="#results" role="tab" aria-controls="results" aria-selected="false" (click)="activeTab = 'results'">
            <i class="fa fa-bars"></i><span class="ms-3">Search results</span></a>
        </li>
      </ul>

      <!-- Today's Patients -->
      <div *ngIf="activeTab === 'todays'" class="records-border mb-5">
        <app-patient-record *ngFor="let patient of patients; let i=index" [patient]="patient" [recordIndex]="i"
          [totalRecords]="patients.length"></app-patient-record>
      </div>

      <!-- Search Results -->
      <div *ngIf="activeTab === 'results'" [ngClass]="{'records-border mb-5': searchResults.length}">
        <ng-container *ngIf="searchResults.length; else noResults">
          <app-patient-record *ngFor="let patient of searchResults; let i= index" [patient]="patient" [recordIndex]="i"
            [totalRecords]="patients.length"></app-patient-record>
        </ng-container>
        <ng-template #noResults>
          No records found.
        </ng-template>
      </div>
    </div>
  </div>
</div>
